<nb-layout>

  <nb-layout-header fixed>
    <div class="header">
      <img src="assets/cologo.svg" class="logo" alt="Logo">
      <button (click)="logout()" nbButton ghost size="large" status="primary">
        <nb-icon icon="log-out-outline"></nb-icon>Authenticate
      </button>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <span>Coded by BlvrDylan</span>
  </nb-layout-footer>

</nb-layout>
